@import "tailwindcss";

@theme {
  --color-primary: #f4ca25;
  --color-background-dark: #0a0a0a;
  --color-neutral-dark: #141414;
  ----color-accent-gold: #f4ca25;
  ----default-font-family: "Inter";
}
